/*-------------------------APPLY TO ALL---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-weight: 100;
}
body{
  background-color: black;
}

/*-------------------------MAIN-PAGE-LINKS---------------------------- */
.links{
  background-color: black;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a{
  text-decoration: none;
}
.links a:hover{
  text-decoration: underline;
  color: orange;
}


/*-------------------------HEADER---------------------------- */

.header{
  width: 100%;
  height: 100vh;
  background-image: url("/images/mallcop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.gradient{
  height: 100%;
  width: 100%;
  z-index: 1;
  background: radial-gradient(circle at 50% -60% ,transparent, black 85%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text{
  font-family: 'Limelight', cursive;
  transform: translateY(90%);
  font-size: 130px;
  color: white;
}


/*-------------------------MOVIES IN TABLE---------------------------- */

a{
  color: white;
  display: inline-block;
}
td a{
  transition: all 0.2s ease-in-out;
}
td a:hover{
color: orange;
transform: scale(1.2);
}

.link-margin{
  margin: 20px;
}

/*-------------------------STYLING FOR EACH ICON---------------------------- */

td button{
  border: none;
  outline: none;
  background: transparent;
}

/*-------------------------SEARCH---------------------------- */

.search-div{
  width: 400px;
  margin: 50px
}

.search-bar{
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid white 2px;
  width: 80%;
  height: 50px;
  font-size: 32px;
  padding-left: 20px;
  color: white;
}

/*-------------------------MOVIES IN TABLE---------------------------- */

.table-movies{
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

/*-------------------------PROFILE-PICTURE IN TABLE---------------------------- */

.nacho{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("/images/nacho.png");
  background-position: center;
  background-size: cover;
}

.libre{
  display: flex;
  justify-content: center;
}

/*-------------------------STYLING TABLE---------------------------- */
th {
  text-align: left;
}

th, td{
  padding-right: 30px;
}

th{
  font-size: 25px;
  font-weight: 200;
}

.table{
  font-size: 18px;
  margin-bottom: 40px;
}

/*--------------------PAGE WHEN YOU ARE ADD A MOVIE----------------------- */
.add-movie-background{
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-movie{
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-style{
  width: 55%;
  height: 100%;
  color: black;
  padding-top: 30px;
}

.form{
  width: 100%;
  height: 43px;
  position: relative;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  font-size: 19px;
}

.form label{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: solid 2px white;
  font-size: 18px;
  color: white;
}

.form label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 100%;
  border-bottom: solid 2px orange;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.content-name{
  font-size: 25px;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.5s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
  transform: translateY(-120%);
  font-size: 15px;
  color: orange;
}
.form input:focus + .label-name .content-name:not(:last-child),
.form input:valid + .label-name .content-name:not(:last-child){
  transform: translateY(-120%);
  font-size: 15px;
  color: white;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
  transform: translateX(0%);
}

/*-------------------------DETAILS-PAGE FOR MOVIE---------------------------- */

.details{
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.details-list{
  padding-top: 30px;
  color: white;
  font-size: 30px;
  background-color: black;
  width: 60%;
  height: 600px;
  text-align: center;
}

.details-list button {
  border: none;
  outline: none;
  background-color: transparent;
}

.details-list button p {
  font-size: 16px;
  text-decoration: none;
}


.details-list li{
  list-style: none;
  margin: 10px;
}

/*-------------------------BACKGROUND FOR POPUP---------------------------- */
.popup-background{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------INSIDE POPUP--------------------- */
.popup{
  /* background-color: red; */
  background: linear-gradient(0deg, #e52d27 0%, #6f0000 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  position: absolute;
  border: solid 1px white;
  top: -300px;
  animation: drop 0.5s ease forwards;
}

.popup p{
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.popup button{
  transform: translateY(60px);
  width: 180px;
  height: 30px;
  border-radius: 10px;
  outline-color: darkred;
  color: red;
  font-size: 20px;
  font-weight: 300;
  border: none;
  box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.60);
}

/*-------ANIMATING POPUP------- */
@keyframes drop {
 0%{opacity: 0}
 70%{transform: translateY(500px)}
 100%{transform: translateY(450px); opacity: 1}
}

/*-------------------------ERROR FOR MAINPAGE---------------------------- */
.load-error{
  width: 500px;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}
.load-error p{
  font-size: 32px;
  color: white;
}

/*-------------------------ERROR WHEN USER CHANGES ID------------------------ */
.edit-movie-no-id{
  color: white;
  font-size: 32px;
}

/*------------------ERROR WRONG INPUT WHEN ADDING MOVIE---------------------- */
.wrong-input{
  color: white;
  font-size: 20px;
  padding-top: 5px;
}
